@import "../variables";

table,
.table {
  tbody,
  thead {
    border: $table-border-width solid $table-border-color;
    border-top: none !important;
  }

  th,
  td {
    vertical-align: middle;
  }

  thead {
    th {
      border-width: 1px;
    }
  }
}

.table-striped {
  tbody tr:nth-of-type(#{$table-striped-order}) {
    background: $table-accent-bg;
  }
}

.table-hover {
  tbody tr {
    @include hover() {
      color: $table-hover-color;
      background: $table-hover-bg;

      .link,
      a {
        background: $table-hover-color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &::after {
          background: $table-hover-color;
        }
      }
    }
  }
}

.-headerGroups {
  background: linear-gradient-theme();
  color: $white;

  th {
    border-top: none;
  }
}

.-filters {
  background: linear-gradient-theme(1/25);

  .form-control {
    background: transparent;
  }
}

.form-control:focus {
  color: #5c6873;
  background-color: #fff;
  border-color: rgba($primary, 0.75);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(darken($primary, 20), 0.1);
}

.paginator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;

  .form-control {
    width: auto;
  }

  .pagination {
    margin: 0 1rem 0 0;

    ul {
      flex-wrap: wrap;
    }
  }

  .page-link {
    color: $gray-600;
    background-color: $white;
    border: 1px solid $border-color;
  }

  .page-link:hover {
    color: darken($primary, 20);
    background-color: #e4e7ea;
    border-color: $border-color;
  }

  .page-link:focus {
    box-shadow: 0 0 0 0.2rem rgba($primary, 0.1);
  }

  .page-item.active .page-link {
    z-index: 1;
    color: $white;
    background-color: $primary;
    border-color: $border-color;
  }

  .page-item.disabled .page-link {
    color: $gray-500;
    background-color: $white;
    border-color: $border-color;
    opacity: 0.75;
  }
}

.table-pre-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  border: $border-width solid $border-color;
  border-bottom: none;
  background: linear-gradient-theme();
  color: $white;

  a,
  a i {
    color: inherit;
  }
}

.table-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    line-height: 2;
    cursor: pointer;
  }
}
